<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Team!</title>
</head>
<body>

Hello Team!

<form action="/details" method="post">
    <select name="name">
        {% for name in names_list %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Show Details">
</form>

<form action="/details2" method="post">
    <select name="name">
        {% for name in names_list %}
            <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Show Details">
</form>

<div>
{% for name in names_list %}
        <li>Hello {{ name }}</li>
{% endfor %}
</div>


<a href="{{ url_for('add_user') }}"><button>Dodaj nową osobę</button></a>

</body>
</html>
